<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bullet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>bullet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,34},{9,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,25}}</string>
                <key>sourceSize</key>
                <string>{9,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{34,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88579ec2f643f757cf1d7e7eb42a84bf:c16a8cf794e0fabbc5d88de407726c9d:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
