<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>ship02.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>ship03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ship.png</string>
            <key>size</key>
            <string>{185,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3cbc859cdc0e68cbe4054b671aec77d:880962fa634db5e4f0f9e312d414d246:f1b1595215ba174b25f5f9ec6de1c8bc$</string>
            <key>textureFileName</key>
            <string>ship.png</string>
        </dict>
    </dict>
</plist>
